# Editors
.vscode/
.idea/
# Environments
.env
# Django stuff:
*.log
./Django/db.sqlite3

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/