[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.5"
gunicorn = "20.1.0"
django-cors-headers = "*"
django-filter = "*"
django-extensions = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-model-utils = "*"
reportlab = "*"
pandas = "*"
numpy = "*"
openpyxl = "*"
yapf = "*"
redis = "*"
celery = "5.1.2"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
